[submodule "generated/proto"]
	path = generated/proto
	url = git@github.com:codefly-dev/proto.git
[submodule "code/testdata/repos/fatih_color"]
	path = code/testdata/repos/fatih_color
	url = https://github.com/fatih/color
[submodule "code/testdata/repos/mitchellh_mapstructure"]
	path = code/testdata/repos/mitchellh_mapstructure
	url = https://github.com/mitchellh/mapstructure
[submodule "code/testdata/repos/tidwall_gjson"]
	path = code/testdata/repos/tidwall_gjson
	url = https://github.com/tidwall/gjson
[submodule "code/testdata/repos/spf13_pflag"]
	path = code/testdata/repos/spf13_pflag
	url = https://github.com/spf13/pflag
[submodule "code/testdata/repos/rs_zerolog"]
	path = code/testdata/repos/rs_zerolog
	url = https://github.com/rs/zerolog
[submodule "code/testdata/repos/go_chi_chi"]
	path = code/testdata/repos/go_chi_chi
	url = https://github.com/go-chi/chi
[submodule "code/testdata/repos/gorilla_mux"]
	path = code/testdata/repos/gorilla_mux
	url = https://github.com/gorilla/mux
[submodule "code/testdata/repos/charmbracelet_lipgloss"]
	path = code/testdata/repos/charmbracelet_lipgloss
	url = https://github.com/charmbracelet/lipgloss
