version: v1
managed:
  enabled: true
  go_package_prefix:
    default: {{.GoPackagePrefix}}
    except:
      - buf.build/googleapis/googleapis
plugins:
  - plugin: buf.build/protocolbuffers/go
    out: {{.Destination}}
    opt: paths=source_relative
  - plugin: buf.build/grpc/go
    out: {{.Destination}}
    opt: paths=source_relative
