version: v1
managed:
  enabled: true
  go_package_prefix:
    default: {{.GoPackagePrefix}}
    except:
      - buf.build/googleapis/googleapis
      - buf.build/bufbuild/protovalidate
plugins:
  - name: go
    out: {{.Destination}}
    opt: paths=source_relative
{{- if .Facade }}
  - name: connect-go
    out: {{.Destination}}
    opt: paths=source_relative
  - name: codefly-facade-go
    out: {{.Destination}}
    opt: paths=source_relative{{ if .Services }},services={{.Services}}{{ end }}{{ if .Module }},module={{.Module}}{{ end }}
{{- else }}
  - name: go-grpc
    out: {{.Destination}}
    opt: paths=source_relative
  - name: openapiv2
    out: {{.Destination}}/../openapi
    opt: logtostderr=true
    path: protoc-gen-openapiv2
{{- end }}
