{{- if not .GitOps }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
type: Opaque
data:
{{- range $key, $value := .SecretMap }}
  {{ $key }}: {{ $value | printf "%q" }}
{{- end }}
{{- end }}
