version: v1
plugins:
  - plugin: buf.build/protocolbuffers/python
    out: {{.Destination}}
  - plugin: buf.build/grpc/python
    out: {{.Destination}}
{{- if .Facade }}
  - name: codefly-facade-python
    out: {{.Destination}}
{{- if or .Services .Module }}
    opt: {{ if .Services }}services={{.Services}}{{ end }}{{ if and .Services .Module }},{{ end }}{{ if .Module }}module={{.Module}}{{ end }}
{{- end }}
{{- end }}
